<form method="post" action="{{ path('reponse_delete', {'id': reponse.id}) }}" onsubmit="return confirm('Vous ete sur de supprimer cette réponse ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reponse.id) }}">
    <button class="btn">supprimer</button>
</form>
