<form method="post" action="{{ path('evenement_delete', {'id': evenement.id}) }}" onsubmit="Voulez vous vraiment supprimer cet évènement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.id) }}">
    <button class="btn">Delete</button>
</form>
