<!DOCTYPE html>
<html ">
<head>
    <meta charset="UTF-8 ">
    <title>Liste Des Visites</title>

</head >
<body style=" background-size: 200px 200px; background-color:#75C2F2; " >
    <img src="{{ 'front-office/img/bg-img/logo.jpg'}} " width="160" alt="LOGO " style="vertical-align:bottom ">
    <center><H1>Liste Des Dons</H1></center>
    <br>
<br>
<br>
<table  Border="1 " style=" width:100%; font: 400 16px 'Calibri', 'Arial'; overflow: hidden; max-width: 600px; margin: 0 auto; position: relative; " >
    <thead >
    <tr style="height: 60px; background: #60AFE0; font-size: 18px; ">
   
                <th>Id</th>
                <th>Num_carte</th>
                <th>Montant</th>
                

        </tr>
    </thead>
    <tbody>
       {% for don in dons %}
       <tr style="height: 60px; background: #CEECF4; font-size: 18px; " >
            
                <td>{{ don.id }}</td>
                <td>{{ don.numCarte }}</td>
                <td>{{ don.montant }}</td>
            <td>


        </tr>
        {% endfor %}
    </tbody>
</table>
</html>

