{% extends 'front.office.html.twig' %}

{% block title %}Edit Visite{% endblock %}

{% block body %}
    <h1>Edit Visite</h1>
    {{ include('visite-back/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('visite_index_back') }}">back to list</a>

    {{ include('visite-back/_delete_form.html.twig') }}
{% endblock %}
