{% extends 'base.html.twig' %}

{% block title %}New Reclamation2{% endblock %}

{% block body %}
    <h1>Create new Reclamation2</h1>

    {{ include('reclamation2/_form.html.twig') }}

    <a href="{{ path('reclamation2_index') }}">back to list</a>
{% endblock %}
