{% extends 'front.office.html.twig' %}


{% block title %}Edit User{% endblock %}

{% block body %}
 <div class="container">
<section id="user" class="user">
    
        <div class="content-wrapper">
    <h1>Edit User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

   
    {{ include('user/_delete_formfront.html.twig') }}
    </div>
</section><!-- End Contact Section -->
</div>
{% endblock %}
