{% extends 'back.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<section id="user" class="user" style="color: white">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="content-wrapper">
<section id="user" class="user">
    
        <div class="content-wrapper">
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">back to list</a>
        </div>
</section><!-- End Contact Section -->
{% endblock %}
