{% extends 'front.office.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
 <div class="container">
<section id="user" class="user">
    
        <div class="content-wrapper">
<section id="user" class="user">
    
        <div class="content-wrapper">
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

 
        </div>
        </div>
</section><!-- End Contact Section -->
</div>
{% endblock %}
